body {
  background: url("../img/min/login-bg2.min.jpg") no-repeat fixed center/cover;
}

body:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#fff 5%, hsla(0, 0%, 100%, .8) 20%, hsla(0, 0%, 100%, .8) 60%, #fff), url('../img/min/bg_dots.png');
}

.vertical-flex {
  display: -moz-box;  /* Firefox */
  display: -ms-flexbox;    /* IE10 */
  display: -webkit-box;    /* Safari */
  display: -webkit-flex;    /* Chrome, WebKit */
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  height: 80%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
