body{
  background:url("../img/min/login-background-min.jpg") no-repeat fixed center/cover;
}

body:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7) url('../img/min/bg_dots.png');

}
